/* 
light red shade = #FC494C
dark grey = #A9A9A9
light blue = #CAEBF2
light grey = #EFEFEF
dark brown = #443742
dull red = #D75C4E
*/

@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #efefef;
  font-family: "Catamaran", sans-serif;
}

.icons-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 1em;
  top: 40%;
  list-style: none;
}

.icons-list::after {
  content: "";
  display: block;
  width: 0.5em;
  min-height: 40rem;
  background-color: #d75c4e;
  margin: 0 auto;
}

.icons-list li {
  margin: 2rem;
}

.icons-list li:hover {
  transform: translateY(-5px);
}

.icons-list li a {
  text-decoration: none;
}

.icons-list li a svg:hover {
  fill: #abe2ee;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 1rem;
  width: 5rem;
  height: 5rem;
  right: 2rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #caebf2;
  color: white;
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #95e6f8;
}

.btn-arrow {
  border: solid white;
  border-width: 0 0.3rem 0.3rem 0;
  display: inline-block;
  padding: 0.3rem;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: right;
  position: fixed;
  top: 0;
  background-color: #efefef;
}

nav ol {
  display: flex;
  list-style: none;
  margin-right: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

nav ol li {
  margin: 0 2rem;
  counter-increment: item 1;
}

nav ol li a {
  text-decoration: none;
  color: #443742;
  font-size: 1.75em;
  padding: 1rem;
  font-weight: 100;
}

ol li a::before {
  content: "0" counter(item) ".";
  color: #fc494c;
  margin-right: 0.5rem;
}

ol li a:hover {
  color: #fc494c;
}

main {
  padding: 0 10rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.object {
  background-color: #dadada;
  max-width: 45rem;
  min-height: 30rem;
  box-shadow: 2px 2px 4px rgb(107, 107, 107);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  margin-top: 5rem;
}

.object p {
  font-family: monospace;
  font-size: 1.25rem;
}

.home {
  padding-bottom: 4rem;
}

.home-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title h1,
h2 {
  padding: 0.5rem;
}

.home-title h3 {
  font-weight: 100;
  margin-top: 2.5rem;
  padding: 1rem;
  color: #443742;
  font-size: 2rem;
}

.home-title h1 {
  font-weight: 700;
  font-size: 7rem;
  color: #443742;
}

.home-title h2 {
  font-weight: 300;
  color: #a9a9a9;
  font-size: 2rem;
}

.connect-button {
  background-color: #caebf2;
  margin: 5rem;
  width: 20rem;
  height: 4rem;
  border-radius: 1.6rem;
  font-size: 2rem;
  color: #443742;
  cursor: pointer;
  border: 1px solid #d75c4e;
  box-shadow: 2px 2px 3px grey;
  display: block;
  margin: 5rem auto;
}

.connect-link {
  text-decoration: none;
}

.connect-button:hover {
  color: rgb(163, 163, 163);
}

.connect-button:active {
  transform: translateY(2px);
}

.scroll-down {
  padding-bottom: 3rem;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mouse {
  width: 2.5rem;
  height: 5rem;
  border: 2px solid #d75c4e;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  display: flex;
}

.mouse span {
  width: 1rem;
  height: 1rem;
  background-color: #d75c4e;
  display: block;
  border-radius: 50%;
  margin: auto;
  animation: move-wheel 1s linear infinite;
}

.arrow span {
  display: block;
  width: 1rem;
  height: 1rem;
  border: 2px solid transparent;
  border-right-color: #d75c4e;
  border-bottom-color: #d75c4e;
  transform: rotate(45deg);
  animation: arrow-down 0.5s alternate infinite;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > h2 {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #443742;
  font-weight: 100;
  font-size: 4rem;
}

/* About section */

.about-section > h2 {
  padding-top: 5rem;
  display: flex;
  width: 100%;
  justify-content: center;
  color: #443742;
  font-weight: 100;
  font-size: 4rem;
}

.about-section h2::before {
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 1rem;
  color: #fc494c;
}

.about-info {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  margin: 5rem;
}

.about-img {
  width: 20vw;
  height: 20vw;
  margin-top: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

.about-img img {
  width: 100%;
  position: relative;
}

.about-p {
  width: 40rem;
  font-size: 2rem;
}

/* Skills section */

.skills-section > h2 {
  padding-top: 5rem;
  display: flex;
  width: 100%;
  justify-content: center;
  color: #443742;
  font-weight: 100;
  font-size: 4rem;
}

.skills-section h2::before {
  counter-increment: section 2;
  content: "0" counter(section) ".";
  margin-right: 1rem;
  color: #fc494c;
}

.skills-icons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 15rem auto;
}

/* Projects section */

.projects-section > h2 {
  padding-top: 5rem;
  display: flex;
  width: 100%;
  justify-content: center;
  color: #443742;
  font-weight: 100;
  font-size: 4rem;
}

.projects-section {
  display: flex;
}

.projects-section h2::before {
  counter-increment: section 3;
  content: "0" counter(section) ".";
  margin-right: 1rem;
  color: #fc494c;
}

.area {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  margin-top: 2rem;
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  height: 46rem;
  width: 45%;
  border: 0.2rem solid rgb(177, 177, 177);
  border-radius: 10%;
  box-shadow: 2px 2px 4px rgb(177, 177, 177);
}

.description h3 {
  font-size: 3em;
  color: #443742;
  text-align: center;
}

.description p {
  padding: 1.5rem;
  font-size: 2em;
  color: #636363;
  text-align: center;
}

.description > ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.btn-list {
  display: flex;
  align-items: center;
}

.demo-btn {
  cursor: pointer;
  width: 10rem;
  height: 3rem;
  border-radius: 1.6rem;
  border: none;
  color: #443742;
  border: 1px solid #d75c4e;
  background-color: #98e4f3;
  box-shadow: 1px 1px 3px grey;
}

.demo-btn:hover {
  color: rgb(163, 163, 163);
}

.demo-btn:active {
  transform: translateY(2px);
}

#git-weather:active {
  transform: translateY(2px);
}

.description ul li a img {
  height: 5rem;
  width: auto;
}

.project-image {
  min-height: 46rem;
  /* max-width: 64.4rem; */
  width: 46%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8%;
  border: 2px solid rgb(177, 177, 177);
  box-shadow: 2px 2px 4px rgb(177, 177, 177);
}

.project-image img {
  width: 100%;
}

.projects-section > p {
  color: #d75c4e;
  font-weight: 100;
  font-size: 2em;
  letter-spacing: 0.5rem;
  padding-top: 5rem;
}

/* Contact */

.contact-section {
  height: 100vh;
}

.contact-section h2 {
  padding-top: 5rem;
  display: flex;
  width: 100%;
  justify-content: center;
  color: #443742;
  font-weight: 100;
  font-size: 4rem;
}

.contact-section h2::before {
  counter-increment: section 4;
  content: "0" counter(section) ".";
  margin-right: 1rem;
  color: #fc494c;
}

.contact-section h3 {
  font-weight: 700;
  font-size: 10em;
}

.contact-section p {
  font-size: 2em;
}

/* footer */

.footer {
  margin-top: auto;
  font-size: 2em;
  color: #a9a9a9;
}

@media screen and (max-width: 950px) {
  .about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-top: 0;
  }

  .about-img {
    width: 30vw;
    height: 30vw;
    margin-top: 0;
  }

  .about-p {
    font-size: 1.75rem;
  }
}

@keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

@keyframes arrow-down {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
