/* 
light red shade = #FC494C
dark grey = #A9A9A9
light blue = #CAEBF2
light grey = #EFEFEF
dark brown = #443742
dull red = #D75C4E
*/

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #EFEFEF;
    font-family: 'Catamaran', sans-serif;
}

.icons-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 1em;
    top: 40%;
    list-style: none;
}

.icons-list::after {
    content: "";
    display: block;
    width: .5em;
    height: 50em;
    background-color: #D75C4E;
    margin: 0 auto;
}

.icons-list li {
    margin: 20px;
}

.icons-list li a {
    text-decoration: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    width: 50px;
    height: 50px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #CAEBF2;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

#myBtn:hover {
    background-color: #95e6f8;
}

.btn-arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

nav {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: right;
    position: fixed;
    top: 0;
    background-color: #EFEFEF;
}

nav ol {
    display: flex;
    list-style: none;
    margin-right: 25px;
}

nav ol li {
    margin: 0 20px;
    counter-increment: item 1;
}

nav ol li a {
    text-decoration: none;
    color: #443742;
    font-size: 1.75em;
    padding: 10px;
    font-weight: 100;
}

ol li a::before {
    content: "0" counter(item) ".";
    color: #FC494C;
    margin-right: 5px;
}

ol li a:hover {
    color: #FC494C;
}

main {
    padding: 0 100px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.object {
    background-color: #DADADA;
    width: 4.5em;
    height: 30em;
    box-shadow: 2px 2px 4px  rgb(107, 107, 107);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
    margin-top: 5em;
}

.object p {
    font-family: monospace;
    font-size: 1.25rem;
}

.home-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-title h1,h2 {
    padding: 5px;
}

.home-title h3 {
    font-weight: 100;
    margin-top: 25px;
    padding: 10px;
    color: #443742;
    font-size: 2rem;
}

.home-title h1 {
    font-weight: 700;
    font-size: 7rem;
    color: #443742;
}

.home-title h2 {
    font-weight: 300;
    color: #A9A9A9;
    font-size: 2rem;
}

.connect-button {
    background-color: #CAEBF2;
    margin: 50px;
    width: 20rem;
    height: 4rem;
    border-radius: 16px;
    font-size: 2rem;
    color: #443742;
    cursor: pointer;
    border:1px solid #D75C4E;
    box-shadow: 2px 2px 3px grey;
    display: block;
    margin: 50px auto;
}

.connect-link {
    text-decoration: none;
}

.connect-button:hover {
    color: rgb(163, 163, 163);
}

.connect-button:active {
    transform: translateY(2px);
}

.scroll-down {
    padding-bottom: 6rem;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mouse {
    width: 2.5rem;
    height: 5rem;
    border: 2px solid #D75C4E;
    border-radius: 2rem;
    margin-bottom: .5rem;
    display:flex;
}

.mouse span {
    width: 1rem;
    height: 1rem;
    background-color: #D75C4E;
    display: block;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite;
}

.arrow span {
    display: block;
    width: 1rem;
    height: 1rem;
    border: 2px solid transparent;
    border-right-color: #D75C4E;
    border-bottom-color: #D75C4E;
    transform: rotate(45deg);
    animation: arrow-down .5s alternate infinite;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
}

section > h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    color: #443742;
    font-weight: 100;
    font-size: 4rem;
}
/* About section */

.about-section > h2 {
    padding-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    color: #443742;
    font-weight: 100;
    font-size: 4rem;
}

.about-section {
    margin-top: 100px;
}

.about-section h2::before {
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #FC494C
}

.about-info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    margin: 50px;
}

.about-img {
    background-image: url('images/profile.jpeg');
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.about-p {
    width: 400px;
    font-size: 2rem;
}

/* Skills section */

.skills-section > h2 {
    padding-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    color: #443742;
    font-weight: 100;
    font-size: 4rem;
}

.skills-section h2::before {
    counter-increment: section 2;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #FC494C
}

.skills-icons {
   display: grid;
   grid-template-columns: 300px 300px 300px;
   grid-template-rows: 1fr 1fr;
   gap: 100px;
   row-gap: 100px;
   padding-left: 80px;
   padding-top: 100px;
}

.skills-icons img {
    height: 200px;
    width: auto;
}

/* Projects section */

.projects-section > h2 {
    padding-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    color: #443742;
    font-weight: 100;
    font-size: 4rem;
}

.projects-section {
    margin-top: 100px;
    display: flex;
}

.projects-section h2::before {
    counter-increment: section 3;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #FC494C;
}

.area {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: 425px;
    width: 644px;
    border: 2px solid rgb(177, 177, 177);
    border-radius: 10%;
    box-shadow: 2px 2px 4px rgb(177, 177, 177);
}

.description h3 {
    font-size: 3em;
    color: #443742;
    text-align: center;
}

.description p {
    padding: 15px;
    font-size: 2em;
    color: #636363;
    text-align: center;
}

.description > ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.btn-list {
    display: flex;
    align-items: center;
}

.demo-btn {
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    border-radius: 16px;
    border: none;
    color: #443742;
    border:1px solid #D75C4E;
    background-color: #98e4f3;
    box-shadow: 1px 1px 3px grey;
}

.demo-btn:hover {
    color: rgb(163, 163, 163);
}

.demo-btn:active {
    transform: translateY(2px)
}

#git-weather:active {
    transform: translateY(2px)
}

.description ul li a img {
    height: 5rem;
    width: auto;
}

.project-image {
    height: 425px;
    width: 644px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
    border: 2px solid rgb(177, 177, 177);
    box-shadow: 2px 2px 4px rgb(177, 177, 177);
}

.project-image img {    
    height: 352px;
    width: auto;
}

.projects-section > p {
    color: #D75C4E;
    font-weight: 100;
    font-size: 2em;
    letter-spacing: .5rem;
    padding-top: 50px;
}

/* Contact */

.contact-section {
    margin-top: 100px;
}

.contact-section h2 {
    padding-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    color: #443742;
    font-weight: 100;
    font-size: 4rem;
}


.contact-section h2::before {
    counter-increment: section 4;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #FC494C;
}

.contact-section h3 {
    font-weight: 700;
    font-size: 10em;
}

.contact-section p {
    font-size: 2em;
}

/* footer */

.footer {
    margin-top: auto;
    font-size: 2em;
    color: #A9A9A9;
}

@keyframes move-wheel {
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(1rem);
    }
}

@keyframes arrow-down {
    0%{
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    50%{
        opacity: .5;
    }
    75%{
        opacity: .75;
    }
    100%{
        opacity: 1;
    }
}
